@font-face {
    font-family: Ubuntu;
    src: url('/resources/fonts/Ubuntu-Regular.ttf');
}

#root {
    -fx-background-color: transparent;
    -fx-font-family: 'Ubuntu';
}

#loginPane, #registrationPane, #passwordPane, #resetPasswordPane  {
    /*-fx-background-color: #0FA1BA;
    -fx-effect: dropshadow(gaussian, #0FA1BA, 10, 0, 0, 0);*/
}

#westros{
   -fx-background-image: url('../img/LoadingBackground.png');
}


#loginLabel {
    -fx-font-size: 32;
    -fx-text-fill: #373738;
}
#newUserLabel, #resetLabel {
    -fx-font-size: 24;
    -fx-text-fill: #373738;
}

#exitLoginButton, #exitRegistrationButton, #exitResetButton {
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/icons/close.png');
    -fx-background-size: 24;
}

#loginButton, #nextButton, #finishButton {
    -fx-background-color: #FBB637;
    -fx-text-fill: #373738;
}

#loginButton:hover, #signUpButton:hover, #resetPasswordButton:hover {
    -fx-cursor: hand;
}

#newUserButton, #forgotPasswordButton {
    -fx-font-size: 10;
    -fx-background-color: transparent;
}

#resetPasswordMsgLabel {
    -fx-font-size: 10;
}

#newUserButton:hover, #forgotPasswordButton:hover {
    -fx-text-fill: #4E4E4F;
}

#specialAccountDetails, #passwordDetailsLabel {
    -fx-font-size: 10;
}

#StationAnchorPane{
    -fx-background-image: url('../img/StationMap.png');
}
#CityAnchorPane{
    -fx-background-image: url('../img/CityMap.png');
}
#RegionAnchorPane{
    -fx-background-image: url('../img/TrainMap.png');
}