Button{
    -fx-background-color: lightblue;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
}

Button:hover{
    -fx-background-color: lightGreen;
}
Label{
    -fx-alignment: center;
    -fx-font-weight: bold;
}

ComboBox{
    -fx-background-color: lightblue;
    -fx-font-size: 0.8em;
}


TextField{
    -fx-background-color: lightblue;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-alignment: center;
    -fx-prompt-text-fill: rgba(200, 150, 100, 0.8) ;



}

@font-face {
    font-family: Ubuntu;
    src: url('/resources/fonts/Ubuntu-Regular.ttf');
}

#root {
    -fx-background-color: transparent;
    -fx-font-family: 'Ubuntu';
}

#loginPane, #registrationPane, #passwordPane, #resetPasswordPane  {
    -fx-background-color: #0FA1BA;
    -fx-effect: dropshadow(gaussian, #0FA1BA, 10, 0, 0, 0);
}


#loginLabel {
    -fx-font-size: 32;
    -fx-text-fill: #373738;
}
#newUserLabel, #resetLabel {
    -fx-font-size: 24;
    -fx-text-fill: #373738;
}

#exitLoginButton, #exitRegistrationButton, #exitResetButton {
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/icons/close.png');
    -fx-background-size: 24;
}

#loginButton, #nextButton, #finishButton {
    -fx-background-color: #FBB637;
    -fx-text-fill: #373738;
}

#loginButton:hover, #signUpButton:hover, #resetPasswordButton:hover {
    -fx-cursor: hand;
}

#newUserButton, #forgotPasswordButton {
    -fx-font-size: 10;
    -fx-background-color: transparent;
}

#resetPasswordMsgLabel {
    -fx-font-size: 10;
}

#newUserButton:hover, #forgotPasswordButton:hover {
    -fx-text-fill: #4E4E4F;
}

#specialAccountDetails, #passwordDetailsLabel {
    -fx-font-size: 10;
}